<?xml version="1.0"?>
<config>
    <modules>
	<Hj_TOTP>
	    <version>0.1.0</version>
	</Hj_TOTP>
    </modules>
    <global>
	<blocks>
	    <Hj_TOTP>
		<class>Hj_TOTP_Block</class>
	    </Hj_TOTP>
	    <adminhtml>
		<rewrite>
		    <system_account_edit_form>Hj_TOTP_Block_Rewrite_Adminhtml_System_Account_Edit_Form</system_account_edit_form>
		</rewrite>
	    </adminhtml>
	</blocks>
	<helpers>
	    <Hj_TOTP>
		<class>Hj_TOTP_Helper</class>
	    </Hj_TOTP>
	</helpers>
	<models>
	    <Hj_TOTP>
		<class>Hj_TOTP_Model</class>
		<resourceModel>Hj_TOTP_resource</resourceModel>
	    </Hj_TOTP>
	    <Hj_TOTP_resource>
                <class>Hj_TOTP_Model_Resource</class>
                <entities>
                    <invalidToken>
                        <table>Hj_TOTP_InvalidToken</table>
                    </invalidToken>
                </entities>
            </Hj_TOTP_resource>
	    <admin>
		<rewrite>
		    <session>Hj_TOTP_Model_Rewrite_Admin_Session</session>
		    <user>Hj_TOTP_Model_Rewrite_Admin_User</user>
		</rewrite>
	    </admin>
	</models>
	<resources>
	    <Hj_TOTP_setup>
		<setup>
		    <module>Hj_TOTP</module>
		    <class>Hj_TOTP_Model_Resource_Setup</class>
		</setup>
	    </Hj_TOTP_setup>
	</resources>
    </global>
    <adminhtml>
	<layout>
	    <updates>
		<Hj_TOTP>
		    <file>Hj_TOTP.xml</file>
		</Hj_TOTP>
	    </updates>
	</layout>
    </adminhtml>
    <admin>
	<routers>
	    <adminhtml>
		<args>
		    <modules>
			<Hj_TOTP before="Mage_Adminhtml">Hj_TOTP</Hj_TOTP>
		    </modules>
		</args>
	    </adminhtml>
	</routers>
    </admin>
</config>